/* Основной блок */
.basic_block {
    font-size: large;
    background-color: RGB(240, 240, 240);
    border: 2px solid RGB(220, 220, 220);
    border-radius: 5px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow: hidden;
}