{% extends 'layout/basic.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="basic_block">
        <h1>Оставить отзыв</h1>
        <h2>{{ doctor }}</h2>
            <form action="{% url 'add_review' doctor_id=doctor.pk %}" method="post">
                {% csrf_token %}
                {{ form.origin_text }}<br>
                {% if form.origin_text.errors %}
                    {{ form.origin_text.errors }}
                {% endif %}
                <br><br>
                <input type="submit" value="Отправить отзыв">
            </form>
        </p>
    </div>
{% endblock content %}