{% extends 'layout/basic.html' %}

{% block header %}
{% endblock header %}

{% block content %}
    {% for review in reviews_list %}
        <div class="basic_block">
            <p>
                Пользователь: {{ review.user }}<br>
                Дата отзыва: {{ review.dt_created|date:"d:m:Y" }}<br>
                ФИО врача: {{ review.doctor }}<br>
                Специальности врача:
                {% for spec in review.doctor.specialty.all %}
                    {{ spec }}
                {% empty %}
                    Для врача не указаны специальности...
                {% endfor %}
                <br><br>
                {{ review.finished_text }}
            </p>
        </div>
        <br>
    {% empty %}
        <div class="basic_block">
            <p>
                Простите, но на сайте нет отмодерированных отзывов...
            </p>
        </div>
    {% endfor %}
{% endblock content %}