{% extends 'layout/basic.html' %}
{%  load filters %}

{% block header %}
{% endblock header %}

{% block content %}
    {% for review in reviews_list %}
        <div class="basic_block">
            <p>
                Пользователь:
                {% if review.user %}
                    {{ review.user }}<br>
                {% else %}
                    отзыв отправлен анонимным пользователем<br>
                {% endif %}
                Дата отзыва: {{ review.dt_created|date:"d:m:Y" }}<br>
                ФИО врача: {{ review.doctor }}<br>
                Специальности врача:
                {% for spec in review.doctor.specialty.all %}
                    {{ spec }}
                {% empty %}
                    Для врача не указаны специальности...
                {% endfor %}
                <br><br>
                {{ review.finished_text|check_wrong_words }}
            </p>
        </div>
        <br>
    {% empty %}
        <div class="basic_block">
            <p>
                Простите, но на сайте нет отмодерированных отзывов...
            </p>
        </div>
    {% endfor %}
{% endblock content %}